<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="P04_Team4"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P04_Team4"
        tools:targetApi="31">

        <activity
            android:name=".Login.OTPActivity"
            android:exported="false" />

        <activity
            android:name=".Login.ForgetUserActivity"
            android:exported="false" />

        <activity
            android:name=".Login.CreateAccount"
            android:exported="false"
            android:parentActivityName=".Login.LoginActivity" />

        <activity
            android:name=".Timer.TimerLogActivity"
            android:exported="false" />

        <receiver
            android:name=".Timer.TimerWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timer_widget_info" />
        </receiver>

        <receiver android:name=".Timer.TimerWidgetProvider2x2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timer_widget_small_info" />
        </receiver>


        <activity
            android:name=".Timer.Stopwatch_Timer"
            android:exported="false" />

        <activity
            android:name=".Feedback.FeedbackActivity"
            android:exported="false" />

        <activity
            android:name=".Friendship_Event.Friendship_Events"
            android:exported="false" />

        <activity
            android:name=".Friendship_Event.events_input"
            android:exported="false" />

        <activity
            android:name=".Chat.ChatHomeActivity"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".Chat.Chat_Main"
            android:parentActivityName=".Chat.ChatHomeActivity" />

        <activity
            android:name=".Login.ForgetPasswordConfirmationActivity" />

        <activity
            android:name=".ScreenTime.ScreenTime_Main"
            android:exported="false" />

        <activity
            android:name=".ToDoList.MainActivity_TodoList"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:parentActivityName=".Login.LoginActivity" />

        <activity
            android:name=".DailyLoginReward.DailyRewardDialogFragment"
            android:exported="false" />

        <activity
            android:name=".DailyLoginReward.ShopActivity"
            android:exported="false" />

        <activity
            android:name=".Chat.StickerPackActivity"
            android:exported="false" />

        <activity
            android:name=".HabitTracker.insights"
            android:exported="false" />
        <activity
            android:name=".HabitTracker.Dashboard"
            android:exported="false" />
        <activity
            android:name=".HabitTracker.lineChartview"
            android:exported="false" />
        <activity
            android:name=".HabitTracker.newHabitDatainput"
            android:exported="false" />
        <activity
            android:name=".HabitTracker.createHabit"
            android:exported="false" />
        <activity
            android:name=".HabitTracker.selectHabit"
            android:exported="false" />
        <activity
            android:name=".HabitTracker.Datainput"
            android:exported="false" />
        <activity
            android:name=".HabitTracker.Chartview"
            android:exported="false" />

        <activity
            android:name=".Login.LoginActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ScreenTime.ScreenTimeService"
            android:exported="false"
            android:foregroundServiceType="dataSync">
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
